[
    {
        "name": "",
        "seed": 1,
        "pick1": "Brazil",
        "pick2": "Saudi Arabia"
    },
    {
        "name": "",
        "seed": 2,
        "pick1": "Argentina",
        "pick2": "Iran"
    },
    {
        "name": "",
        "seed": 3,
        "pick1": "England",
        "pick2": "Tunisia"
    },
    {
        "name": "",
        "seed": 4,
        "pick1": "Belgium",
        "pick2": "Costa Rica"
    },
    {
        "name": "",
        "seed": 5,
        "pick1": "Canada",
        "pick2": "Ghana"
    },
    {
        "name": "",
        "seed": 6,
        "pick1": "Netherlands",
        "pick2": "Australia"
    },
    {
        "name": "",
        "seed": 7,
        "pick1": "France",
        "pick2": "Japan"
    },
    {
        "name": "",
        "seed": 8,
        "pick1": "Portugal",
        "pick2": "South Korea"
    },
    {
        "name": "",
        "seed": 9,
        "pick1": "Spain",
        "pick2": "Qatar"
    },
    {
        "name": "",
        "seed": 10,
        "pick1": "Uruguay",
        "pick2": "USA"
    },
    {
        "name": "",
        "seed": 11,
        "pick1": "Germany",
        "pick2": "Ecuador"
    },
    {
        "name": "",
        "seed": 12,
        "pick1": "Mexico",
        "pick2": "Cameroon"
    },
    {
        "name": "",
        "seed": 13,
        "pick1": "Croatia",
        "pick2": "Wales"
    },
    {
        "name": "",
        "seed": 14,
        "pick1": "Denmark",
        "pick2": "Switzerland"
    },
    {
        "name": "",
        "seed": 15,
        "pick1": "Poland",
        "pick2": "Senegal"
    },
    {
        "name": "",
        "seed": 16,
        "pick1": "Serbia",
        "pick2": "Morocco"
    }
]